@mixin titles2 {
    font-weight: 600;
    letter-spacing: .15rem;
    word-spacing: .2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

/*      MEDIA QUERIES    */

/*primer breakpoint sm-md*/
@media only screen and (min-width:576px) and (max-width:768px) {
    /* MEDIA PAGINA 1 INDEX */
    /*HEADER SETTINGS*/

    header {

        .navbar-brand img {
            width: auto;
            height: $large;
        }
    }

    /*MAIN 1 SETTINGS*/
    .main1 {
        .cont__front__form {

            .imagenMain1 {
                width: 70%;
                padding-left: 1rem;
            }

            .imagenMain1 img {
                height: $wh1;
                width: $wh;
                margin-top: $large;
                margin-bottom: $med3;
            }

            form{
                padding-left: 18%;
                .form__box {
                    width: 80%;
                    height: 18.4rem;
                    margin-bottom: .6rem;
    
                    .box {
    
                        .box_input {
                            height: $med2;
                            margin-bottom: $small2;
                            font-size: $small;
                            padding-top: .1rem;
                        }
    
                    }
                }
    
                .buscarBoton {
                    width: 80%;
                }
    
                .buscarBoton button {
                    font-size: $small2;
                    height: $med3;
                }
            }
            
        }

    }

    /*MAIN 2 SETTINGS*/

    .main2 {

        .main2__p h2 {
            font-size: $small5;
        }

        .main2__contenedor2 {

            .fondo {

                .fon {

                    .fond img {
                        height: 16rem;
                    }

                    .fond h3 {
                        font-size: $small3;
                    }

                    .fond h4 {
                        margin-top: 1rem;
                        font-size: $small2;

                    }

                }
            }

        }

    }

    /*MAIN 3 SETTINGS*/


    .main3 {
        height: $wh;

        .main3__p {
            padding: $med;
            font-size: $small5;
        }

        .main3_c {
            .fil {

                .card {

                    .empresa {
                        width: 85%;
                        margin-bottom: .6rem;

                        .empresas__primero p {
                            font-size: $small3;
                        }

                        .empresas__segundo {

                            .centrar p {
                                font-size: $small;
                            }
                        }

                        .empresas__segundo img {
                            height: 4rem;
                        }

                    }

                }
            }
        }


    }

    /*FOOTER SETTINGS*/

    .foot {

        .caja1 {
            width: $wh2;
        }

        .caja1 i {
            font-size: $small5;
            padding-left: $small;
        }

        .caja1 img {
            height: 8rem;
        }

        a .fa-google {
            font-size: $small3;
        }

    }

    /*    MEDIA  PAGINA SEGUROS    */

    .main__seguros {

        .main__seguros1 {

            .mainseguros__1a h2 {
                font-size: $small5;
            }

            .main_cf {
                .mainseguros__1b {

                    .mainseguros__1b__ic {

                        .button {
                            height: 5rem;
                            width: 5rem;
                        }
                    }

                    .mainseguros__1b__ic i {
                        font-size: $small5;
                    }


                    .mainseguros__1b__ic p {
                        font-size: $small2;
                        margin-top: $small3;
                    }
                }
            }
        }
    }

    /*MEDIA PAGINA NOSOTROS*/
    main {

        .nosotros__titulo {

            .titulo_nosotros h2 {
                font-size: $small5;
            }

            .titulo_nosotros p {
                font-size: $small;

            }
        }

    }

    /* MEDIA PAGINA CARRITO */
    .carrito {

        .main__carrito {
            padding-top: 5rem;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 5rem;


            .main__carrito__contenedor {
                width: 100%;
                padding: $med3;

                .cotizacion {
                    width: 100%;
                    padding: $small $med3;
                }

                .cotizacion__texto__titulo {
                    font-size: $small;
                }

                .cotizacion__borrar {
                    font-size: $med;
                }

                .button__carrito i {
                    font-size: $med;
                }

                .precio {
                    width: 100%;
                    height: $med3;
                    font-size: $small;
                    margin-bottom: $small;
                }


            }
        }
    }

}

/*segundo breakpoint md-lg*/
@media only screen and (min-width:768px) and (max-width:992px) {

    /* MEDIA PAGINA 1 INDEX */
    /*HEADER SETTINGS*/
    header {

        .navbar-brand img {
            width: auto;
            height: $large;
        }

        .navbar li a {
            color: $color3;
            font-size: $small;
        }

    }

    /*MAIN 1 SETTINGS*/

    .main1 {
        .cont {
            .cont__front__form {
                .imagenMain1 {
                    width: 70%;
                    padding-left: 5%;
                }

                .imagenMain1 img {
                    margin-top: $med3;
                    margin-bottom: $small3;
                }
                form{
                    padding-left: 20%;
                    .form__box {
                        width: 80%;
                        height: 20.5rem;
                        margin-bottom: .5rem;
    
                        .box {
                            .box_input {
                                height: $med3;
                                margin-bottom: $small3;
                                font-size: $small;
                            }
    
                        }
    
                        .form__box__1 {
                            padding-top: $small2;
                        }
                    }
    
                    .buscarBoton {
                        width: 80%;
                    }
    
                    .buscarBoton button {
                        height: $med3;
                        font-size: $small3;
                        margin-bottom: $med;
                    }
                }
            }
        }
    }


    /*MAIN 2 SETTINGS*/
    .main2 {
        height: $wh;

        .main2__p h2 {
            font-size: 1.7rem;
        }

        .main2__contenedor2 {
            height: fit-content;
            width: $wh;

            .fondo {
                padding: 0.1rem;

                .fon {

                    .fond {
                        height: 20rem;
                        width: $wh;

                    }

                    .fond img {
                        height: 9rem;
                    }

                    .fond h3 {
                        font-size: $small;
                    }

                    .fond h4 {
                        font-size: $xs;
                        text-align: center;
                    }

                    .fond1 {
                        border-radius: .8rem 0 0 .8rem;
                    }

                    .fond2 {
                        border-radius: 0;
                    }

                    .fond3 {
                        border-radius: 0 .8rem .8rem 0;
                    }

                }
            }

        }

    }

    /*MAIN 3 SETTINGS*/
    .main3 {
        height: $wh;

        .main3__p h2 {
            font-size: 1.7rem;
        }

        .fil {
            .card {

                .empresa {
                    width: $wh;
                    margin-bottom: $med;

                    .empresas__primero p {
                        font-size: $small2;
                    }

                }


                .empresas__segundo {

                    .centrar p {
                        font-size: $small;
                    }
                }

                .empresas__segundo img {
                    height: 4rem;
                }

            }
        }
    }

    /*FOOTER SETTINGS*/
    .foot {
        display: flex;
        flex-direction: row;
        padding: .8rem 0;
        padding-left: .8rem;

        .caja1 {
            width: 30%;
            border-radius: .3rem;
        }

        .caja1 i {
            font-size: $small5;
            padding-left: $small2;
            letter-spacing: .2rem;
        }

        .caja1 img {
            height: 8rem;
            margin-bottom: .5rem;
        }

        a .fa-google {
            font-size: $small4;
        }

        .caja2 {
            height: $wh;
            width: 70%;
            background-color: $color1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            visibility: visible;

            .subboxaP p {
                color: $color3;
                font-size: $small;
                text-transform: capitalize;
                margin-top: .1rem;
                padding-bottom: .5rem;
                font-weight: 500;
            }

        }

        .caja2 li {
            list-style: none;
            padding-bottom: .2rem;
            padding-right: 3rem;
        }

        .caja2 li a {
            text-decoration: none;
            color: $color3;
            font-size: $xs;
            list-style: none;
        }

        .caja2 li a:hover {
            color: $color2;
            transition: all .3s;
        }

    }

    /*MEDIA PAGINA 3 SINIESTROS */

    .main__sin {

        .main__siniestros {

            .main__siniestros__box {

                form {
                    .denuncia {
                        h2 {
                            @include titles2;
                            color: $color3;
                            font-size: 1.5rem;
                        }

                        .formulario {
                            .formulario__row {
                                display: flex;
                                margin: 0;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: $med3;
                            }

                            .itm {
                                .siniestro_input {
                                    padding-top: .1rem;
                                    height: $med2;
                                    font-size: $small;
                                }
                            }

                            .itm1 {
                                width: 40%;
                            }

                            .itm2 {
                                width: 40%;
                            }
                        }

                    }

                    .boton__siniestro button {
                        padding-top: 0rem;
                        height: $med3;
                        font-size: $small3;
                    }

                }
            }


        }
    }



    /*MEDIA PAGINA SEGUROS*/
    .main__seguros {

        .main__seguros1 {

            .mainseguros__1a h2 {
                font-size: 1.7rem;
            }

            .main_cf {
                .mainseguros__1b {

                    .mainseguros__1b__ic {

                        .button {
                            height: 5rem;
                            width: 5rem;
                        }
                    }

                    .mainseguros__1b__ic i {
                        font-size: $med2;
                    }

                    .mainseguros__1b__ic p {
                        font-size: $small2;
                        margin-top: $small3;
                    }
                }
            }
        }

    }

    /*main seguros 2*/
    .main__seguros2 {

        .seguros2__categoria {

            .aseguradoras {

                .titulo h2 {
                    font-size: 1.7rem;
                }

                .aseguradoras__box {

                    .aseguradoras_ {

                        .aseguradoras_1 {
                            display: flex;
                            flex-direction: row;
                            width: 100%;

                            .cardEmpresa {
                                width: 90%;
                                margin-left: 4%;
                                margin-right: 4%;
                            }

                            .nombreEmpresa p {
                                font-size: $small2;
                            }

                            .ubic {
                                .direccion {
                                    padding: 2rem 2rem 2rem 2rem;
                                }
                            }
                        }

                    }

                }
            }

            .model {

                h2 {
                    font-size: 1.7rem;
                }

                .categoria button {
                    width: 50%;
                    margin-left: 25%;
                    height: $med3;
                    font-size: $small;
                }

            }

            .model2 {

                .model__padre {
                    form {

                        .it {

                            .itf {

                                .seguros_input {
                                    margin-left: 14.6%;
                                    width: 70%;
                                    height: $med3;
                                    font-size: $small;
                                }
                            }
                        }

                        .seleccion {
                            width: 70%;
                            margin-left: 15%;

                            .item_itf {
                                .item4 {
                                    font-size: $small;

                                    .check {
                                        .check1 {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: space-around;
                                            margin: $xs;

                                            .seguros_input2 {
                                                height: $med;
                                                width: 20%;
                                                color: $color1;
                                                background-color: $color3;
                                                border: solid $color1 .08rem;
                                                font-size: 1rem;
                                            }
                                        }
                                    }

                                    .checkbox {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        font-size: 1rem;
                                        margin: 2rem 0;

                                        .planes {
                                            margin-top: 0rem;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }

    }

    /*MEDIA PAGINA NOSOTROS*/

    .main__nosotros {

        .nosotros__titulo {

            .titulo_nosotros h2 {
                font-size: 1.7rem;
            }

            .titulo_nosotros p {
                font-size: $small3;
            }
        }

    }

    /* MEDIA PAGINA CARRITO */
    .carrito {

        .main__carrito {
            padding-top: 5rem;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 5rem;


            .main__carrito__contenedor {
                width: 100%;
                padding: $med3;

                .cotizacion {
                    width: 100%;
                    padding: $small $med3;
                }

                .cotizacion__texto__titulo {
                    font-size: $small2;
                }

                .cotizacion__borrar {
                    font-size: $med;
                }

                .button__carrito i {
                    font-size: $med;
                }

                .precio {
                    width: 100%;
                    height: $med3;
                    font-size: $small2;
                    margin-bottom: $small;
                }


            }
        }
    }
}


/*tercer breakpoint lg-xl-*/
@media only screen and (min-width:992px) and (max-width:1100px) {

    /* MEDIA PAGINA 1 INDEX */
    /*HEADER*/
    body {
        margin: 0;
        padding: 0;
    }

    header {
        .navbar-brand img {
            height: $large2;
            width: $wh1;
        }

        .navbar li a {
            color: $color3;
            font-size: $small;
            padding-bottom: 1rem;
        }


        .dropdown-menu {
            width: 12rem;
        }

    }

    .navbar-toggler {
        display: none;
    }

    .fa-cart-shopping,
    .fa-circle-user,
    .fa-lock {
        display: none;
    }



    /*MAIN 1 SETTINGS*/
    .main1 {

        .cont {
            display: flex;
            flex-direction: row;

            .cont__front__form {
                .imagenMain1 {
                    width: 80%;
                }

                .imagenMain1 img {
                    margin-top: $med;
                    margin-bottom: $small2;
                }

                .form__box {
                    width: 80%;
                    border-radius: .8rem;
                    height: 21.25rem;

                    .form__box__1 {
                        padding-top: 0rem;
                        width: 94%;
                    }

                    .box {

                        .box_input {
                            width: $wh;
                            height: $med2;
                            border-radius: .6rem;
                            padding-top: .2rem;
                            height: $med3;
                            margin-bottom: 0rem;
                            font-size: $small;
                        }
                    }

                }

                .buscarBoton {
                    width: 80%;
                }

                .buscarBoton button {
                    border-radius: .8rem;
                    height: $med2;
                    font-size: $small3;
                    font-weight: 500;
                    margin-top: $small2;
                    padding-bottom: 0rem;
                    height: $med3;
                    font-size: $small3;
                    margin-bottom: $med;
                }
            }
        }

        .cont__front__p {
            display: block;
            margin-top: $med3;
            color: $color2;
            text-transform: uppercase;
            text-align: center;
            width: 55%;
            font-weight: 600;
            letter-spacing: .15rem;
            word-spacing: .2rem;
            /*animacion*/
            text-shadow: $color2 .5rem;
            animation-duration: 2s;
            animation-name: aparecer;
            animation-delay: 6s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        @keyframes aparecer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .cont__front__p h2 {
            font-size: $med;
        }

    }

    /*MAIN 2 SETTINGS*/
    .main2 {
        padding-bottom: $med3;

        .main2__p h2 {
            @include titles2;
        }

        .main2__contenedor2 {
            height: fit-content;
            width: $wh;

            .fondo {
                padding: 0.1rem;

                .fon {

                    .fond {
                        height: auto;
                        width: $wh;

                    }

                    .fond img {
                        height: 9rem;
                    }

                    .fond h3 {
                        font-size: $small2;
                    }

                    .fond h4 {
                        font-size: $small;
                        text-align: center;
                    }

                    .fond1 {
                        border-radius: .8rem 0 0 .8rem;
                    }

                    .fond2 {
                        border-radius: 0;
                    }

                    .fond3 {
                        border-radius: 0 .8rem .8rem 0;
                    }

                }
            }

        }

    }


    /*MAIN 3 SETTINGS*/
    .main3 {
        height: $wh;

        .main3__p h2 {
            @include titles2;

        }

        .fil {
            .card {

                .empresa {
                    width: $wh;
                    margin-bottom: $med;

                    .empresas__primero p {
                        font-size: $small;
                    }

                }


                .empresas__segundo {

                    .centrar p {
                        font-size: $xs;
                    }
                }

                .empresas__segundo img {
                    height: 3rem;
                }

            }
        }
    }

    /*FOOTER SETTINGS*/
    .foot {
        display: flex;
        flex-direction: row;
        padding: .8rem 0;
        padding-left: .8rem;

        .caja1 {
            width: 30%;
            border-radius: .3rem;
        }

        .caja1 i {
            font-size: $small5;
            padding-left: $small2;
            letter-spacing: .2rem;
        }

        .caja1 img {
            height: 8rem;
            margin-bottom: .5rem;
        }

        a .fa-google {
            font-size: $small4;
        }

        .caja2 {
            height: $wh;
            width: 70%;
            background-color: $color1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            visibility: visible;

            .subboxaP p {
                color: $color3;
                font-size: $small3;
                text-transform: capitalize;
                margin-top: .1rem;
                padding-bottom: .5rem;
                font-weight: 500;
            }

        }

        .caja2 li {
            list-style: none;
            padding-bottom: .2rem;
            padding-right: 3rem;
        }

        .caja2 li a {
            text-decoration: none;
            color: $color3;
            font-size: $xs;
            list-style: none;
        }

        .caja2 li a:hover {
            color: $color2;
            transition: all .3s;
        }

    }

    /*MEDIA PAGINA 3 SINIESTROS */

    .main__sin {

        .main__siniestros {

            .main__siniestros__box {

                form {
                    .denuncia {
                        h2 {
                            @include titles2;
                            color: $color3;
                            font-size: 1.7rem;
                        }

                        .formulario {

                            .formulario__row {
                                margin-bottom: $med3;
                            }

                            .itm {
                                .siniestro_input {
                                    padding-top: .2rem;
                                    height: $med2;
                                    font-size: $small;
                                }
                            }

                            .itm1 {
                                width: 31%;
                            }

                            .itm2 {
                                width: 24%;
                            }
                        }

                    }

                    .boton__siniestro button {
                        height: $med3;
                        font-size: $small3;
                        padding-top: 0rem;
                        margin-top: 2rem;
                    }

                }
            }


        }
    }


    /*MEDIA PAGINA SEGUROS*/
    .main__seguros {

        .main__seguros1 {

            .mainseguros__1a h2 {
                font-size: 1.8rem;
            }

            .main_cf {
                .mainseguros__1b {

                    .mainseguros__1b__ic {

                        .button {
                            height: 5rem;
                            width: 5rem;
                        }
                    }

                    .mainseguros__1b__ic i {
                        font-size: $med;
                    }


                    .mainseguros__1b__ic p {
                        font-size: $small2;
                        margin-top: $small3;
                    }
                }
            }
        }


    }

    /*main seguros 2*/
    .main__seguros2 {

        .seguros2__categoria {

            .aseguradoras {

                .titulo h2 {
                    font-size: 1.7rem;
                }

                .aseguradoras__box {

                    .aseguradoras_ {

                        .aseguradoras_1 {
                            display: flex;
                            flex-direction: row;
                            width: 100%;

                            .cardEmpresa {
                                width: 80%;
                                margin-left: 5%;
                                margin-right: 5%;
                            }

                            .nombreEmpresa p {
                                font-size: $small2;
                            }

                            .ubic {
                                .direccion {
                                    padding: 2rem 2rem 2rem 2rem;
                                }
                            }
                        }

                    }

                }
            }

            .model {

                h2 {
                    font-size: 1.8rem;
                }

                .categoria button {
                    width: 50%;
                    margin-left: 25%;
                    height: $med3;
                    font-size: $small;
                }
            }


            .model2 {
                .model__padre {
                    form {

                        .it {

                            .itf {

                                .seguros_input {
                                    margin-left: 15%;
                                    width: 70%;
                                    height: $med3;
                                    font-size: $small;
                                }
                            }
                        }

                        .seleccion {
                            width: 70%;
                            margin-left: 15%;

                            .item_itf {
                                .item4 {
                                    font-size: $small;

                                    .check {
                                        .check1 {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: space-around;
                                            margin: 1rem;

                                            .seguros_input2 {
                                                height: $med;
                                                width: 20%;
                                                color: $color1;
                                                background-color: $color3;
                                                border: solid $color1 .08rem;
                                            }
                                        }
                                    }

                                    .checkbox {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        font-size: $xs;
                                        margin: 2rem 0;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }


    }


    /*MEDIA PAGINA NOSOTROS*/

    main {

        .nosotros__titulo {

            .titulo_nosotros h2 {
                font-size: 1.8rem;
            }

            .titulo_nosotros p {
                font-size: $small;
            }
        }


    }

    /* MEDIA PAGINA CARRITO */
    .carrito {

        .main__carrito {
            padding-top: 5rem;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 5rem;


            .main__carrito__contenedor {
                width: 100%;
                padding: $med3;

                .cotizacion {
                    width: 100%;
                    padding: $small $med3;
                }

                .cotizacion__texto__titulo {
                    font-size: $small2;
                }

                .cotizacion__borrar {
                    font-size: $med;
                }

                .button__carrito i {
                    font-size: $med;
                }

                .precio {
                    width: 100%;
                    height: $med3;
                    font-size: $small2;
                    margin-bottom: $small;
                }


            }
        }
    }



}

/*cuarto breakpoint xl-xxl-*/
@media only screen and (min-width:1100px) {

    /* MEDIA PAGINA 1 INDEX */
    /*HEADER*/
    body {
        margin: 0;
        padding: 0;
    }

    header {
        .navbar-brand img {
            height: $large2;
            width: $wh1;
        }

        .navbar li a {
            color: $color3;
            font-size: $small;
            padding-bottom: 1rem;

        }


        .dropdown-menu {
            width: 12rem;
        }

    }

    .nav-item {
        .fa-cart-shopping {
            color: $color3;
            margin-left: 5rem;
        }
        .fa-cart-shopping:hover{
            color: $color2;
        }

        .fa-cart-shopping,
        .fa-circle-user,
        .fa-lock {
            display: block;
            font-size: $small;
        }
    }



    /*MAIN 1 SETTINGS*/
    .main1 {

        .cont {
            display: flex;
            flex-direction: row;

            .cont__front__form {
                .imagenMain1 {
                    width: 70%;
                    margin-right: 8%;
                }

                .imagenMain1 img {
                    margin-top: $med3;
                    margin-bottom: $small2;
                }

                form{
                    .form__box {
                        width: 80%;
                        border-radius: .8rem;
                        height: 23.5rem;
    
                        .form__box__1 {
                            padding-top: 1rem;
                            width: 94%;
                        }
    
                        .box {
                            .box_input {
                                width: $wh;
                                height: $med3;
                                border-radius: .6rem;
                                padding-top: .1rem;
                                font-size: $small2;
                                height: $med3;
                                margin-bottom: 0rem;
                                font-size: $small;
                            }
    
                        }
    
                    }
    
                    .buscarBoton {
                        width: 80%;
                    }
    
                    .buscarBoton button {
                        border-radius: .8rem;
                        height: $med2;
                        font-size: $small3;
                        font-weight: 500;
                        margin-top: $small2;
                        padding-bottom: 0.1rem;
                        height: $med3;
                        font-size: $small3;
                        margin-bottom: $med3;

                    }
                }   
            }
        }

        .cont__front__p {
            display: block;
            margin-top: $large2;
            margin-right: $med2;
            color: $color2;
            text-transform: uppercase;
            text-align: center;
            width: 55%;
            font-weight: 600;
            letter-spacing: .15rem;
            word-spacing: .2rem;
            /*animacion*/
            text-shadow: $color2 .5rem;
            animation-duration: 2s;
            animation-name: aparecer;
            animation-delay: 6s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        @keyframes aparecer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .cont__front__p h2 {
            margin-left: 7rem;
            margin-top: 3.5rem;
            font-size: $med;
            color: $color3;
        }

    }

    /*MAIN 2 SETTINGS*/
    .main2 {
        padding-bottom: $med3;

        .main2__p h2 {
            @include titles2;
        }

        .main2__contenedor2 {
            height: fit-content;
            width: $wh;

            .fondo {
                padding: 0.1rem;

                .fon {

                    .fond {
                        height: auto;
                        width: $wh;

                    }

                    .fond img {
                        height: 12rem;
                    }

                    .fond h3 {
                        font-size: $small2;
                    }

                    .fond h4 {
                        font-size: $small;
                        text-align: center;
                    }

                    .fond1 {
                        border-radius: .8rem 0 0 .8rem;
                    }

                    .fond2 {
                        border-radius: 0;
                    }

                    .fond3 {
                        border-radius: 0 .8rem .8rem 0;
                    }

                }
            }

        }

    }


    /*MAIN 3 SETTINGS*/
    .main3 {
        height: $wh;

        .main3__p h2 {
            @include titles2;
        }

        .fil {
            .card {

                .empresa {
                    width: $wh;
                    margin-bottom: $med;

                    .empresas__primero p {
                        font-size: $small4;
                    }

                }


                .empresas__segundo {

                    .centrar p {
                        font-size: $small;
                    }
                }

                .empresas__segundo img {
                    height: 4rem;
                }

            }
        }
    }

    /*FOOTER SETTINGS*/
    .foot {
        display: flex;
        flex-direction: row;
        padding: .8rem 0;
        padding-left: .8rem;

        .caja1 {
            width: 30%;
            border-radius: .3rem;
        }

        .caja1 i {
            font-size: $small5;
            padding-left: $small2;
            letter-spacing: .2rem;
        }

        .caja1 img {
            height: 8rem;
            margin-bottom: .5rem;
        }

        a .fa-google {
            font-size: $small4;
        }

        .caja2 {
            height: $wh;
            width: 70%;
            background-color: $color1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            visibility: visible;

            .subboxaP p {
                color: $color3;
                font-size: $small3;
                text-transform: capitalize;
                margin-top: .1rem;
                padding-bottom: .5rem;
                font-weight: 500;
            }

        }

        .caja2 li {
            list-style: none;
            padding-bottom: .2rem;
            padding-right: 10rem;
        }

        .caja2 li a {
            text-decoration: none;
            color: $color3;
            font-size: $xs;
            list-style: none;
        }

        .caja2 li a:hover {
            color: $color2;
            transition: all .3s;
        }

    }


    /*MEDIA PAGINA 3 SINIESTROS */

    .main__sin {

        .main__siniestros {

            .main__siniestros__box {

                form {

                    .denuncia {

                        h2 {
                            @include titles2;
                            color: $color3;
                            font-size: 1.8rem;
                        }

                        .formulario {
                            .formulario__row {
                                margin-bottom: $med3;
                            }

                            .itm {
                                .siniestro_input {
                                    padding-top: .2rem;
                                    height: $med2;
                                    font-size: $small;
                                    margin-top: 1rem;
                                }
                            }

                            .itm1 {
                                width: 31%;
                            }

                            .itm2 {
                                width: 24%;
                            }
                        }

                    }

                    .boton__siniestro button {
                        margin-top: 2rem;
                        padding-top: 0rem;
                        height: $med3;
                        font-size: $small3;
                    }

                }
            }

        }
    }

    /*MEDIA PAGINA SEGUROS*/
    .main__seguros {

        .main__seguros1 {

            .mainseguros__1a h2 {
                @include titles2;
            }

            .main_cf {
                .mainseguros__1b {

                    .mainseguros__1b__ic {

                        .button {
                            height: 6rem;
                            width: 6rem;
                        }
                    }

                    .mainseguros__1b__ic i {
                        font-size: 1.8rem;
                    }


                    .mainseguros__1b__ic p {
                        font-size: $small2;
                        margin-top: $small3;
                    }
                }
            }
        }
    }

    /*main seguros 2*/
    .main__seguros2 {

        .seguros2__categoria {

            .aseguradoras {

                .titulo h2 {
                    font-size: 1.7rem;
                }

                .aseguradoras__box {

                    .aseguradoras_ {

                        .aseguradoras_1 {
                            display: flex;
                            flex-direction: row;
                            width: 100%;

                            .cardEmpresa {
                                width: 90%;
                                margin-left: 4%;
                                margin-right: 4%;
                            }

                            .nombreEmpresa p {
                                font-size: $small2;
                            }

                            .ubic {
                                .direccion {
                                    padding: 2rem 2rem 2rem 2rem;
                                }
                            }
                        }

                    }

                }
            }

            .model {

                h2 {
                    @include titles2;
                }

                .categoria button {
                    width: 50%;
                    margin-left: 25%;
                    height: $med3;
                    font-size: $small;
                }
            }


            .model2 {

                .model__padre {
                    form {

                        .it {


                            .itf {

                                .seguros_input {
                                    margin-left: 14.6%;
                                    width: 70%;
                                    height: $med3;
                                    font-size: $small;
                                }
                            }
                        }


                        .seleccion {
                            width: 70%;
                            margin-left: 15%;

                            .item_itf {
                                .item4 {
                                    font-size: $small;

                                    .check {
                                        .check1 {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: space-around;
                                            margin: 1rem;

                                            .seguros_input2 {
                                                height: $med;
                                                width: 20%;
                                                color: $color1;
                                                background-color: $color3;
                                                border: solid $color1 .08rem;
                                            }
                                        }
                                    }

                                    .checkbox {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        font-size: $xs;
                                        margin: 2rem 0;

                                        .planes {
                                            margin-top: 0rem;
                                        }
                                    }
                                }
                            }
                        }


                    }
                }
            }
        }

        .seguros2__categoria h2 {
            @include titles2;
        }

        .aseguradoras {

            .titulo h2 {
                @include titles2;
            }

            .aseguradoras__box {
                .aseguradoras_ {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    .cardEmpresa {
                        width: 100%;
                        margin-left: 1%;
                        margin-right: 1%;
                    }

                    .nombreEmpresa p {
                        font-size: $small2;
                    }

                    .ubic {
                        .direccion {
                            padding: 1rem 1rem 1rem 1rem;
                        }
                    }
                }

            }
        }

        .boton__seguro button {
            height: $large;
            font-size: $med2;
        }

    }


    /*MEDIA PAGINA NOSOTROS*/

    .main__nosotros {

        .nosotros__titulo {

            h2 {
                font-size: 1.8rem;
            }

            .titulo_nosotros p {
                font-size: $small;
            }
        }

    }

    /* MEDIA PAGINA CARRITO */
    .carrito {
        .main__carrito {
            padding-top: 5rem;
            padding-left: 25%;
            padding-right: 25%;
            padding-bottom: 5rem;


            .main__carrito__contenedor {
                width: 100%;
                padding: $med3;

                .cotizacion {
                    width: 100%;
                    padding: $small $med3;
                }

                .cotizacion__texto__titulo {
                    font-size: $small2;
                }

                .cotizacion__borrar {
                    font-size: $med;
                }

                .button__carrito i {
                    font-size: $med;
                    height: 4rem;
                    width: 4rem;
                }

                .precio {
                    width: 100%;
                    height: $med3;
                    font-size: $small2;
                    margin-bottom: $small;
                }


            }
        }
    }

}