/*      MEDIA QUERIES    */

/*primer breakpoint sm-md*/
@media only screen and (min-width:576px) and (max-width:768px) {
    /* MEDIA PAGINA 1 INDEX */
    /*HEADER SETTINGS*/

    header {

        .navbar-brand img {
            width: auto;
            height: $large;
        }
    }

    /*MAIN 1 SETTINGS*/
    .main1 {
        .cont__front__form {

            .imagenMain1 {
                width: 85%;
            }

            .imagenMain1 img {
                height: $wh1;
                width: $wh;
                margin-top: $large;
                margin-bottom: $med3;
            }

            .form__box {
                width: 85%;
                height: 18.4rem;
                margin-bottom: .6rem;

                .box {
                    height: $med2;
                    margin-bottom: $small2;
                    font-size: $small2;
                    padding-top: .1rem;
                }
            }

            .buscarBoton {
                width: 85%;
            }

            .buscarBoton button {
                font-size: $small2;
                height: $med3;
            }
        }

    }

}