/*      MEDIA QUERIES    */

/*primer breakpoint sm-md*/
@media only screen and (min-width:576px) and (max-width:768px) {
    /* MEDIA PAGINA 1 INDEX */
    /*HEADER SETTINGS*/

    header {

        .navbar-brand img {
            width: auto;
            height: $large;
        }
    }

    /*MAIN 1 SETTINGS*/
    .main1 {
        .cont__front__form {

            .imagenMain1 {
                width: 85%;
            }

            .imagenMain1 img {
                height: $wh1;
                width: $wh;
                margin-top: $large;
                margin-bottom: $med3;
            }

            .form__box {
                width: 85%;
                height: 18.4rem;
                margin-bottom: .6rem;

                .box {
                    height: $med2;
                    margin-bottom: $small2;
                    font-size: $small2;
                    padding-top: .1rem;
                }
            }

            .buscarBoton {
                width: 85%;
            }

            .buscarBoton button {
                font-size: $small2;
                height: $med3;
            }
        }

    }

    /*MAIN 2 SETTINGS*/

    .main2 {

        .main2__p h2 {
            font-size: $small5;
        }

        .main2__contenedor2 {

            .fondo {

                .fon {

                    .fond img {
                        height: 16rem;
                    }

                    .fond h3 {
                        font-size: $small3;
                    }

                    .fond h4 {
                        margin-top: 1rem;
                        font-size: $small2;

                    }

                }
            }

        }

    }

    /*MAIN 3 SETTINGS*/


    .main3 {
        height: $wh;

        .main3__p {
            padding: $med;
            font-size: $small5;
        }

        .main3_c {
            .fil {

                .card {

                    .empresa {
                        width: 85%;
                        margin-bottom: .6rem;

                        .empresas__primero p {
                            font-size: $small3;
                        }

                        .empresas__segundo {

                            .centrar p {
                                font-size: $small;
                            }
                        }
    
                        .empresas__segundo img {
                            height: 4rem;
                        }

                    }

                }
            }
        }


    }

    /*FOOTER SETTINGS*/

.foot {
    
    .caja1 {
        width: $wh2;
    }

    .caja1 i {
        font-size: $small5;
        padding-left: $small;
    }

    .caja1 img {
        height: 8rem;
    }

    a .fa-google {
        font-size: $small3;
    }

}
}