/*      PAGINA SINIESTROS     */

.main__sin {
    width: $wh;
    height: $wh1;

    .main__siniestros {
        width: $wh;

        .main__siniestros__box {
            background-color: $color1;
            height: fit-content;
            border-radius: .8rem;
            margin: $med;

            form {
                .denuncia h2 {
                    @include sizes;
                    color: $color3;
                    font-size: $small4;
                }

                .formulario {
                    .formulario__row {
                        display: flex;
                        margin: 0  ;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: $small;
                        width: $wh;
                    }
                    .itm{
                        background-color: $color3;
                        height: $med;
                        border-radius: .5rem;
                        color:$color1;
                        font-size: $xs;
                        margin-bottom: .8rem;
                        padding-top: .1rem;
                        margin-right: .5rem;

                        
                    }
                    .itm1{
                        width: 90%;
                    }
                    
                    .itm2{
                        width: 90%;
                    }
                }
                .boton__siniestro button{
                    width: $wh;
                    background-color: $color2;
                    height: $med3;
                    border: $color2;
                    color: $color3;
                    font-size: $small;
                }
                
                .boton__siniestro button:hover{
                    background-color: $color3;
                    border: solid $color2;
                    color: $color2;
                }
            }
        }
    }
}

