/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");
/* VARIABLES AND VALUES SETTINGS */
/*color palette*/
/*font family*/
/*font-sizes*/
/*16px*/
/*18px*/
/*20px*/
/*22px*/
/*22px*/
/*24px*/
/*30px*/
/*35px*/
/*sizes*/
/*40px*/
/*50px*/
/*60px*/
/*80px*/
/*width-height*/
/*mixin*/
/*GENERAL SETTINGS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Open Sans", sans-serif;
}

/* PAGINA 1 INDEX RESPONSIVE */
/* HEADER SETTINGS */
header {
  background-color: #143247;
}
header .navbar-brand img {
  width: auto;
  height: 2.5rem;
  padding-right: 3.75rem;
}
header .navbar-collapse {
  margin-top: 1rem;
}
header .navbar li a {
  color: #F9F9F9;
  font-size: 1rem;
}
header .navbar li a:hover {
  color: #A74949;
  transition: all 0.3s;
}
header .nav-item {
  padding-left: 2rem;
}
header .nav-item .dropdown-menu {
  background-color: #A74949;
  width: 50%;
  border-radius: 0.8rem;
}
header .collapsed i {
  color: #F9F9F9;
}
header .navbar-toggler {
  color: #F9F9F9;
  background-color: #F9F9F9;
}
header .fa-cart-shopping,
header .fa-circle-user,
header .fa-lock {
  display: none;
}

/*MAIN 1 SETTINGS*/
.main1 {
  background-image: url(../img/mainfondo.jpg);
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main1 .cont__front__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main1 .cont__front__form .imagenMain1 {
  width: 80%;
}
.main1 .cont__front__form .imagenMain1 img {
  height: auto;
  width: 100%;
  margin-top: 1.87rem;
  margin-bottom: 1.87rem;
}
.main1 .cont__front__form .form__box {
  width: 80%;
  height: 17rem;
  background-color: #143247;
  border-radius: 0.8rem;
}
.main1 .cont__front__form .form__box .form__box__1 {
  padding-top: 1.25rem;
  width: 100%;
}
.main1 .cont__front__form .form__box .box {
  margin-left: 4%;
  width: 92%;
  height: 1.87rem;
  background-color: #F9F9F9;
  border-radius: 0.6rem;
  margin-bottom: 1.25rem;
  padding-top: 0.15rem;
  padding-left: 1rem;
  color: #143247;
  font-size: 1rem;
}
.main1 .cont__front__form .buscarBoton {
  width: 80%;
}
.main1 .cont__front__form .buscarBoton button {
  background-color: #A74949;
  color: #F9F9F9;
  border-radius: 0.8rem;
  border: #A74949;
  width: 100%;
  height: 2.5rem;
  font-size: 1.12rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.main1 .cont__front__form .buscarBoton button:hover {
  background-color: #F9F9F9;
  border: #A74949 solid;
  color: #A74949;
}
.main1 .cont__front__p {
  display: none;
}

/*MAIN 2 SETTINGS*/
.main2 {
  height: 100%;
  width: 100%;
  padding-top: 1.87rem;
  background-color: #143247;
}
.main2 .main2__p h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  padding: 1rem;
  color: #F9F9F9;
  font-size: 1.37rem;
}
.main2 .main2__contenedor2 {
  height: auto;
  width: 100%;
}
.main2 .main2__contenedor2 .fondo {
  height: 100%;
  padding: 2rem;
}
.main2 .main2__contenedor2 .fondo .fond {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  margin: auto;
  width: 80%;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.main2 .main2__contenedor2 .fondo .fond img {
  height: 12.5rem;
}
.main2 .main2__contenedor2 .fondo .fond h3 {
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
  color: #143247;
}
.main2 .main2__contenedor2 .fondo .fond h4 {
  font-size: 1.12rem;
  padding-top: 1rem;
  color: #143247;
}

/*MAIN3 SETTINGS*/
.main3 {
  height: 100%;
  width: 100%;
  padding-top: 1.87rem;
  background-color: #DCE0E4;
  padding-bottom: 2.18rem;
}
.main3 .main3__p h2 {
  color: #143247;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  padding: 1rem;
  font-size: 1.37rem;
}
.main3 .fil .card {
  margin-bottom: 0.8rem;
  background-color: #DCE0E4;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main3 .fil .card .empresa {
  height: 100%;
  width: 80%;
  background-color: #F9F9F9;
  border-radius: 1rem;
  border: 0.2rem solid #143247;
}
.main3 .fil .card .empresa .empresas__primero {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #143247;
  flex-wrap: wrap;
}
.main3 .fil .card .empresa .empresas__primero p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}
.main3 .fil .card .empresa .iconoEstrella {
  display: flex;
  flex-direction: row;
}
.main3 .fil .card .empresa .iconoEstrella p {
  padding-left: 1rem;
}
.main3 .fil .card .empresa:hover {
  transform: scale(1.03);
}
.main3 .fil .card .empresas__segundo {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main3 .fil .card .empresas__segundo .centrar p {
  font-size: 1rem;
  text-transform: capitalize;
  color: #143247;
  text-align: center;
}
.main3 .fil .card .empresas__segundo img {
  height: 3rem;
  width: auto;
}

/*FOOTER SETTINGS*/
.foot {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #143247;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.12rem 0;
}
.foot .caja1 {
  border-radius: 0.8rem;
  margin-top: 0.2rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
}
.foot .caja1 i {
  font-size: 1.25rem;
  color: #143247;
  letter-spacing: 0.5rem;
  padding-left: 0.8rem;
}
.foot .caja1 i:hover {
  color: #A74949;
  transition: all 0.3s;
}
.foot .caja1 img {
  margin: 2rem 0 0rem 0;
  height: 6rem;
  width: auto;
}
.foot a .fa-google {
  font-size: 1.12rem;
}
.foot .caja2 {
  display: none;
}

/*      MEDIA QUERIES    */
/*primer breakpoint sm-md*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* MEDIA PAGINA 1 INDEX */
  /*HEADER SETTINGS*/
  header .navbar-brand img {
    width: auto;
    height: 3.75rem;
  }
  /*MAIN 1 SETTINGS*/
  .main1 .cont__front__form .imagenMain1 {
    width: 85%;
  }
  .main1 .cont__front__form .imagenMain1 img {
    height: auto;
    width: 100%;
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
  }
  .main1 .cont__front__form .form__box {
    width: 85%;
    height: 18.4rem;
    margin-bottom: 0.6rem;
  }
  .main1 .cont__front__form .form__box .box {
    height: 2.18rem;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    padding-top: 0.1rem;
  }
  .main1 .cont__front__form .buscarBoton {
    width: 85%;
  }
  .main1 .cont__front__form .buscarBoton button {
    font-size: 1.25rem;
    height: 2.5rem;
  }
  /*MAIN 2 SETTINGS*/
  .main2 .main2__p h2 {
    font-size: 1.5rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond img {
    height: 16rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h3 {
    font-size: 1.37rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h4 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
  /*MAIN 3 SETTINGS*/
  .main3 {
    height: 100%;
  }
  .main3 .main3__p {
    padding: 1.87rem;
    font-size: 1.5rem;
  }
  .main3 .main3_c .fil .card .empresa {
    width: 85%;
    margin-bottom: 0.6rem;
  }
  .main3 .main3_c .fil .card .empresa .empresas__primero p {
    font-size: 1.37rem;
  }
  .main3 .main3_c .fil .card .empresa .empresas__segundo .centrar p {
    font-size: 1.12rem;
  }
  .main3 .main3_c .fil .card .empresa .empresas__segundo img {
    height: 4rem;
  }
  /*FOOTER SETTINGS*/
  .foot .caja1 {
    width: 50%;
  }
  .foot .caja1 i {
    font-size: 1.5rem;
    padding-left: 1.12rem;
  }
  .foot .caja1 img {
    height: 8rem;
  }
  .foot a .fa-google {
    font-size: 1.37rem;
  }
}
/*segundo breakpoint md-lg*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* MEDIA PAGINA 1 INDEX */
  /*HEADER SETTINGS*/
  header .navbar-brand img {
    width: auto;
    height: 3.75rem;
  }
  header .navbar li a {
    color: #F9F9F9;
    font-size: 1.12rem;
  }
  /*MAIN 1 SETTINGS*/
  .main1 .cont .cont__front__form .imagenMain1 {
    width: 65%;
  }
  .main1 .cont .cont__front__form .imagenMain1 img {
    margin-top: 2.5rem;
    margin-bottom: 1.37rem;
  }
  .main1 .cont .cont__front__form .form__box {
    width: 65%;
    height: 20.5rem;
    margin-bottom: 0.5rem;
  }
  .main1 .cont .cont__front__form .form__box .box {
    height: 2.5rem;
    margin-bottom: 1.37rem;
    font-size: 1.25rem;
  }
  .main1 .cont .cont__front__form .form__box .form__box__1 {
    padding-top: 1.25rem;
  }
  .main1 .cont .cont__front__form .buscarBoton {
    width: 65%;
  }
  .main1 .cont .cont__front__form .buscarBoton button {
    height: 2.5rem;
    font-size: 1.37rem;
    margin-bottom: 1.87rem;
  }
  /*MAIN 2 SETTINGS*/
  .main2 {
    height: 100%;
  }
  .main2 .main2__p h2 {
    font-size: 1.7rem;
  }
  .main2 .main2__contenedor2 {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .main2 .main2__contenedor2 .fondo {
    padding: 0.1rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond {
    height: 20rem;
    width: 100%;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond img {
    height: 9rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h3 {
    font-size: 1.12rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h4 {
    font-size: 1rem;
    text-align: center;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond1 {
    border-radius: 0.8rem 0 0 0.8rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond2 {
    border-radius: 0;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond3 {
    border-radius: 0 0.8rem 0.8rem 0;
  }
  /*MAIN 3 SETTINGS*/
  .main3 {
    height: 100%;
  }
  .main3 .main3__p h2 {
    font-size: 1.7rem;
  }
  .main3 .fil .card .empresa {
    width: 100%;
    margin-bottom: 1.87rem;
  }
  .main3 .fil .card .empresa .empresas__primero p {
    font-size: 1.25rem;
  }
  .main3 .fil .card .empresas__segundo .centrar p {
    font-size: 1.12rem;
  }
  .main3 .fil .card .empresas__segundo img {
    height: 4rem;
  }
  /*FOOTER SETTINGS*/
  .foot {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0;
    padding-left: 0.8rem;
  }
  .foot .caja1 {
    width: 30%;
    border-radius: 0.3rem;
  }
  .foot .caja1 i {
    font-size: 1.5rem;
    padding-left: 1.25rem;
    letter-spacing: 0.2rem;
  }
  .foot .caja1 img {
    height: 8rem;
    margin-bottom: 0.5rem;
  }
  .foot a .fa-google {
    font-size: 1.37rem;
  }
  .foot .caja2 {
    height: 100%;
    width: 70%;
    background-color: #143247;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .foot .caja2 .subboxaP p {
    color: #F9F9F9;
    font-size: 1.12rem;
    text-transform: capitalize;
    margin-top: 0.1rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
  }
  .foot .caja2 li {
    list-style: none;
    padding-bottom: 0.2rem;
    padding-right: 3rem;
  }
  .foot .caja2 li a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 1rem;
    list-style: none;
  }
  .foot .caja2 li a:hover {
    color: #A74949;
    transition: all 0.3s;
  }
  /*MEDIA PAGINA 3 SINIESTROS */
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .denuncia h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #A74949;
    font-size: 1.8rem;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm {
    padding-top: 0.2rem;
    height: 2.18rem;
    font-size: 1.12rem;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm1 {
    width: 40%;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm2 {
    width: 40%;
  }
  .main__sin .main__siniestros .main__siniestros__box form .boton__siniestro button {
    height: 2.5rem;
    font-size: 1.37rem;
  }
}
/*tercer breakpoint lg-xl-*/
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  /* MEDIA PAGINA 1 INDEX */
  /*HEADER*/
  body {
    margin: 0;
    padding: 0;
  }
  header .navbar-brand img {
    height: 3.75rem;
    width: auto;
  }
  header .navbar li a {
    color: #F9F9F9;
    font-size: 1.12rem;
    padding-bottom: 1rem;
  }
  header .dropdown-menu {
    width: 12rem;
  }
  .navbar-toggler {
    display: none;
  }
  .fa-cart-shopping,
  .fa-circle-user,
  .fa-lock {
    display: none;
  }
  /*MAIN 1 SETTINGS*/
  .main1 .cont {
    display: flex;
    flex-direction: row;
  }
  .main1 .cont .cont__front__form .imagenMain1 {
    width: 80%;
  }
  .main1 .cont .cont__front__form .imagenMain1 img {
    margin-top: 1.87rem;
    margin-bottom: 1.25rem;
  }
  .main1 .cont .cont__front__form .form__box {
    width: 80%;
    border-radius: 0.8rem;
    height: 21.25rem;
  }
  .main1 .cont .cont__front__form .form__box .form__box__1 {
    padding-top: 1.87rem;
    width: 92%;
  }
  .main1 .cont .cont__front__form .form__box .box {
    width: 100%;
    height: 2.18rem;
    border-radius: 0.6rem;
    padding-top: 0.2rem;
    font-size: 1.25rem;
    height: 2.5rem;
    margin-bottom: 1.37rem;
    font-size: 1.25rem;
  }
  .main1 .cont .cont__front__form .buscarBoton {
    width: 80%;
  }
  .main1 .cont .cont__front__form .buscarBoton button {
    border-radius: 0.8rem;
    height: 2.18rem;
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 1.25rem;
    padding-bottom: 0.1rem;
    height: 2.5rem;
    font-size: 1.37rem;
    margin-bottom: 1.87rem;
  }
  .main1 .cont__front__p {
    display: block;
    margin-top: 2.5rem;
    color: #A74949;
    text-transform: uppercase;
    text-align: center;
    width: 55%;
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    /*animacion*/
    text-shadow: #A74949 0.5rem;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .main1 .cont__front__p h2 {
    font-size: 1.5rem;
  }
  /*MAIN 2 SETTINGS*/
  .main2 {
    padding-bottom: 2.5rem;
  }
  .main2 .main2__p h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  .main2 .main2__contenedor2 {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .main2 .main2__contenedor2 .fondo {
    padding: 0.1rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond {
    height: auto;
    width: 100%;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond img {
    height: 9rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h3 {
    font-size: 1.25rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h4 {
    font-size: 1.12rem;
    text-align: center;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond1 {
    border-radius: 0.8rem 0 0 0.8rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond2 {
    border-radius: 0;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond3 {
    border-radius: 0 0.8rem 0.8rem 0;
  }
  /*MAIN 3 SETTINGS*/
  .main3 {
    height: 100%;
  }
  .main3 .main3__p h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  .main3 .fil .card .empresa {
    width: 100%;
    margin-bottom: 1.87rem;
  }
  .main3 .fil .card .empresa .empresas__primero p {
    font-size: 1.12rem;
  }
  .main3 .fil .card .empresas__segundo .centrar p {
    font-size: 1rem;
  }
  .main3 .fil .card .empresas__segundo img {
    height: 3rem;
  }
  /*FOOTER SETTINGS*/
  .foot {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0;
    padding-left: 0.8rem;
  }
  .foot .caja1 {
    width: 30%;
    border-radius: 0.3rem;
  }
  .foot .caja1 i {
    font-size: 1.5rem;
    padding-left: 1.25rem;
    letter-spacing: 0.2rem;
  }
  .foot .caja1 img {
    height: 8rem;
    margin-bottom: 0.5rem;
  }
  .foot a .fa-google {
    font-size: 1.37rem;
  }
  .foot .caja2 {
    height: 100%;
    width: 70%;
    background-color: #143247;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .foot .caja2 .subboxaP p {
    color: #F9F9F9;
    font-size: 1.37rem;
    text-transform: capitalize;
    margin-top: 0.1rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
  }
  .foot .caja2 li {
    list-style: none;
    padding-bottom: 0.2rem;
    padding-right: 3rem;
  }
  .foot .caja2 li a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 1rem;
    list-style: none;
  }
  .foot .caja2 li a:hover {
    color: #A74949;
    transition: all 0.3s;
  }
  /*MEDIA PAGINA 3 SINIESTROS */
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .denuncia h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #A74949;
    font-size: 1.8rem;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm {
    padding-top: 0.2rem;
    height: 2.18rem;
    font-size: 1.12rem;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm1 {
    width: 31%;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm2 {
    width: 24%;
  }
  .main__sin .main__siniestros .main__siniestros__box form .boton__siniestro button {
    height: 2.5rem;
    font-size: 1.37rem;
  }
}
/*cuarto breakpoint xl-xxl-*/
@media only screen and (min-width: 1100px) {
  /* MEDIA PAGINA 1 INDEX */
  /*HEADER*/
  body {
    margin: 0;
    padding: 0;
  }
  header .navbar-brand img {
    height: 3.75rem;
    width: auto;
  }
  header .navbar li a {
    color: #F9F9F9;
    font-size: 1.12rem;
    padding-bottom: 1rem;
  }
  header .dropdown-menu {
    width: 12rem;
  }
  .nav-item .fa-cart-shopping {
    color: #F9F9F9;
    margin-left: 5rem;
  }
  .nav-item .fa-cart-shopping,
  .nav-item .fa-circle-user,
  .nav-item .fa-lock {
    display: block;
    font-size: 1.12rem;
  }
  /*MAIN 1 SETTINGS*/
  .main1 .cont {
    display: flex;
    flex-direction: row;
  }
  .main1 .cont .cont__front__form .imagenMain1 {
    width: 80%;
  }
  .main1 .cont .cont__front__form .imagenMain1 img {
    margin-top: 1.87rem;
    margin-bottom: 1.25rem;
  }
  .main1 .cont .cont__front__form .form__box {
    width: 80%;
    border-radius: 0.8rem;
    height: 21.25rem;
  }
  .main1 .cont .cont__front__form .form__box .form__box__1 {
    padding-top: 1.87rem;
    width: 92%;
  }
  .main1 .cont .cont__front__form .form__box .box {
    width: 100%;
    height: 2.18rem;
    border-radius: 0.6rem;
    padding-top: 0.2rem;
    font-size: 1.25rem;
    height: 2.5rem;
    margin-bottom: 1.37rem;
    font-size: 1.25rem;
  }
  .main1 .cont .cont__front__form .buscarBoton {
    width: 80%;
  }
  .main1 .cont .cont__front__form .buscarBoton button {
    border-radius: 0.8rem;
    height: 2.18rem;
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 1.25rem;
    padding-bottom: 0.1rem;
    height: 2.5rem;
    font-size: 1.37rem;
    margin-bottom: 1.87rem;
  }
  .main1 .cont__front__p {
    display: block;
    margin-top: 3.75rem;
    margin-right: 2.18rem;
    color: #A74949;
    text-transform: uppercase;
    text-align: center;
    width: 55%;
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    /*animacion*/
    text-shadow: #A74949 0.5rem;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .main1 .cont__front__p h2 {
    font-size: 1.5rem;
  }
  /*MAIN 2 SETTINGS*/
  .main2 {
    padding-bottom: 2.5rem;
  }
  .main2 .main2__p h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  .main2 .main2__contenedor2 {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .main2 .main2__contenedor2 .fondo {
    padding: 0.1rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond {
    height: auto;
    width: 100%;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond img {
    height: 12rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h3 {
    font-size: 1.25rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond h4 {
    font-size: 1.12rem;
    text-align: center;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond1 {
    border-radius: 0.8rem 0 0 0.8rem;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond2 {
    border-radius: 0;
  }
  .main2 .main2__contenedor2 .fondo .fon .fond3 {
    border-radius: 0 0.8rem 0.8rem 0;
  }
  /*MAIN 3 SETTINGS*/
  .main3 {
    height: 100%;
  }
  .main3 .main3__p h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  .main3 .fil .card .empresa {
    width: 100%;
    margin-bottom: 1.87rem;
  }
  .main3 .fil .card .empresa .empresas__primero p {
    font-size: 1.37rem;
  }
  .main3 .fil .card .empresas__segundo .centrar p {
    font-size: 1.37rem;
  }
  .main3 .fil .card .empresas__segundo img {
    height: 4rem;
  }
  /*FOOTER SETTINGS*/
  .foot {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0;
    padding-left: 0.8rem;
  }
  .foot .caja1 {
    width: 30%;
    border-radius: 0.3rem;
  }
  .foot .caja1 i {
    font-size: 1.5rem;
    padding-left: 1.25rem;
    letter-spacing: 0.2rem;
  }
  .foot .caja1 img {
    height: 8rem;
    margin-bottom: 0.5rem;
  }
  .foot a .fa-google {
    font-size: 1.37rem;
  }
  .foot .caja2 {
    height: 100%;
    width: 70%;
    background-color: #143247;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .foot .caja2 .subboxaP p {
    color: #F9F9F9;
    font-size: 1.37rem;
    text-transform: capitalize;
    margin-top: 0.1rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
  }
  .foot .caja2 li {
    list-style: none;
    padding-bottom: 0.2rem;
    padding-right: 10rem;
  }
  .foot .caja2 li a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 1rem;
    list-style: none;
  }
  .foot .caja2 li a:hover {
    color: #A74949;
    transition: all 0.3s;
  }
  /*MEDIA PAGINA 3 SINIESTROS */
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .denuncia h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #A74949;
    font-size: 1.8rem;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm {
    padding-top: 0.2rem;
    height: 2.18rem;
    font-size: 1.12rem;
    margin-top: 1rem;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm1 {
    width: 31%;
  }
  .main__sin .main__siniestros .main__siniestros__box form .denuncia .formulario .itm2 {
    width: 24%;
  }
  .main__sin .main__siniestros .main__siniestros__box form .boton__siniestro button {
    height: 2.5rem;
    font-size: 1.37rem;
  }
}
/*      PAGINA SINIESTROS     */
.main__sin {
  width: 100%;
  height: auto;
}
.main__sin .main__siniestros {
  width: 100%;
}
.main__sin .main__siniestros .main__siniestros__box {
  background-color: #143247;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.8rem;
  margin: 1.87rem;
}
.main__sin .main__siniestros .main__siniestros__box form .denuncia h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  padding: 1rem;
  color: #F9F9F9;
  font-size: 1.37rem;
}
.main__sin .main__siniestros .main__siniestros__box form .formulario .formulario__row {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.12rem;
  width: 100%;
}
.main__sin .main__siniestros .main__siniestros__box form .formulario .itm {
  background-color: #F9F9F9;
  height: 1.87rem;
  border-radius: 0.5rem;
  color: #143247;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  padding-top: 0.1rem;
  margin-right: 0.5rem;
}
.main__sin .main__siniestros .main__siniestros__box form .formulario .itm1 {
  width: 90%;
}
.main__sin .main__siniestros .main__siniestros__box form .formulario .itm2 {
  width: 90%;
}
.main__sin .main__siniestros .main__siniestros__box form .boton__siniestro button {
  width: 100%;
  background-color: #A74949;
  height: 2.5rem;
  border: #A74949;
  color: #F9F9F9;
  font-size: 1.12rem;
}
.main__sin .main__siniestros .main__siniestros__box form .boton__siniestro button:hover {
  background-color: #F9F9F9;
  border: solid #A74949;
  color: #A74949;
}/*# sourceMappingURL=styles.css.map */