/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

/* VARIABLES AND VALUES SETTINGS */

/*color palette*/
$color1:#143247;
$color2: #A74949;
$color3: #F9F9F9;
$color4: #DCE0E4;

/*font family*/
$font:'Open Sans',
sans-serif;

/*font-sizes*/

$xs: 1rem;
/*16px*/
$small:1.12rem;
/*18px*/
$small2:1.25rem;
/*20px*/
$small3:1.37rem;
/*22px*/
$small4:1.37rem;
/*22px*/
$small5: 1.5rem;
/*24px*/
$med: 1.87rem;
/*30px*/
$med2: 2.18rem;
/*35px*/

/*sizes*/
$med3: 2.5rem;
/*40px*/
$large: 3.75rem;
/*50px*/
$large2: 3.75rem;
/*60px*/
$xl: 5rem;
/*80px*/

/*width-height*/
$wh:100%;
$wh1:auto;
$wh2:50%;

/*mixin*/
@mixin sizes {
    font-size: $small5;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    padding: 1rem;
}

@mixin titles {
    height: $wh;
    width: $wh;
    padding-top: $med;
}

/*GENERAL SETTINGS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: $font;
}


/* PAGINA 1 INDEX RESPONSIVE */
/* HEADER SETTINGS */
header {
    background-color: $color1;

    .navbar-brand img {
        width: $wh1;
        height: $med3;
        padding-right: $large;
    }

    .navbar-collapse {
        margin-top: 1rem;
    }

    .navbar li a {
        color: $color3;
        font-size: $xs;
    }

    .navbar li a:hover {
        color: $color2;
        transition: all .3s;
    }

    .nav-item {
        padding-left: $large;

        .dropdown-menu {
            background-color: $color2;
            width: $wh2;
            border-radius: .8rem;
        }
    }

    .collapsed i {
        color: $color3;
    }

    .navbar-toggler {
        color: $color3;
        background-color: $color3;
    }

    .fa-cart-shopping,
    .fa-circle-user,
    .fa-lock {
        display: none;
    }
}

/*MAIN 1 SETTINGS*/

.main1 {
    background-image: url(../img/mainfondo.jpg);
    height: fit-content;
    width: $wh;
    background-repeat: no-repeat;
    background-size: cover;

    .cont__front__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $wh;

        .imagenMain1 {
            width: 80%;
        }

        .imagenMain1 img {
            height: auto;
            width: $wh;
            margin-top: $med;
            margin-bottom: $med;
        }

        .form__box {
            width: 80%;
            height: 17rem;
            background-color: $color1;
            border-radius: .8rem;

            .form__box__1 {
                padding-top: $small2;
                width: $wh;
            }

            .box {
                margin-left: 4%;
                width: 92%;
                height: $med;
                background-color: $color3;
                border-radius: .6rem;
                margin-bottom: $small2;
                padding-top: .15rem;
                padding-left: 1rem;
                color: $color1;
                font-size: $xs;
            }
        }

        .buscarBoton {
            width: 80%;
        }

        .buscarBoton button {
            background-color: $color2;
            color: $color3;
            border-radius: .8rem;
            border: $color2;
            width: $wh;
            height: $med3;
            font-size: $small;
            font-weight: 500;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
        }

        .buscarBoton button:hover {
            background-color: $color3;
            border: $color2 solid;
            color: $color2;
        }
    }

    .cont__front__p {
        display: none;
    }

}


/*MAIN 2 SETTINGS*/
.main2 {
    @include titles;
    background-color: $color1;


    .main2__p h2 {
        @include sizes;
        color: $color3;
    }

    .main2__contenedor2 {
        height: $wh1;
        width: $wh;

        .fondo {
            height: $wh;
            padding: 2rem;

            .fond {
                background-color: $color3;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 90%;
                margin: auto;
                width: 80%;
                padding: 2rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
            }

            .fond img {
                height: 12.5rem;
            }

            .fond h3 {
                font-size: $small2;
                padding-bottom: 1.5rem;
                color: $color1
            }

            .fond h4 {
                font-size: $small;
                padding-top: 1rem;
                color: $color1;

            }
        }

    }

}

/*MAIN3 SETTINGS*/

.main3 {
    @include titles;
    background-color: $color4;
    padding-bottom: $med2;

    .main3__p {
        color: $color1;
        @include sizes;
    }

    .fil {
        .card {
            margin-bottom: .8rem;
            background-color: $color4;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            .empresa {
                height: $wh;
                width: 80%;
                background-color: $color3;
                border-radius: 1rem;
                border: 0.2rem solid $color1;

                .empresas__primero {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    color: $color1;
                    flex-wrap: wrap;
                }

                .empresas__primero p {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: $small2;
                }

                .iconoEstrella {
                    display: flex;
                    flex-direction: row;
                }

                .iconoEstrella p {
                    padding-left: 1rem;
                }
            }

            .empresa:hover {
                transform: scale(1.03);
            }

            .empresas__segundo {
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                justify-content: space-around;
                flex-wrap: wrap;

                .centrar p {
                    font-size: $xs;
                    text-transform: capitalize;
                    color: $color1;
                    text-align: center;
                }
            }

            .empresas__segundo img {
                height: 3.5rem;
                width: $wh1;
            }

        }
    }
}

/*FOOTER SETTINGS*/
.foot{
    width: $wh;
    height: fit-content;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $small 0;
    .caja1{
        border-radius: .8rem;
        margin-top: .2rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color3;
    }
    .caja1 i{
        font-size: $small2;
        color: $color1;
        letter-spacing: .5rem;
        padding-left: .8rem;
    }
    .caja1 i:hover{
        color: $color2;
        transition: all .3s;
    }
    .caja1 img{
        margin: 2rem 0 0rem 0;
        height: 6rem;
        width: $wh1;
    }
    a .fa-google{
        font-size: $small;
    }
    
.caja2{
    display: none;
}
}


@import "_media.scss";
